body{
  background-color: var(--bodyColor);
}

#intro {
  position: relative;
  display: flex;
  overflow: hidden;
}

#intro > img {
  width: 100vw;

}

.textIntro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  padding-left: 3rem;

  h1 {
    font: var(--h1);
    color: var(--textColor);
  }

  a {
    font: var(--button);
  }
  
  .botao1 {
    display: flex;
    gap: 0.30rem;
    align-items: center;
    justify-content: flex-end;
    width: 17.1875rem;
    height: 2.9375rem;
    border-radius: 1.5rem;
    background-color: rgba(217, 217, 217, 0.17);
    border: none;
    color: white;
    font-size: 1.125rem;
    padding: 0 1.25rem;
    cursor: pointer;
  }
  
  .botao2 {
    width: 15.1875rem;
    height: 2.8125rem;
    border-radius: 1.5rem;
    border: 1px solid white;
    background: none;
    color: #F9F9FB;
    cursor: pointer;
    font-size: 1.125rem;
  }
  
}

#portfolio {
  position: relative;
  padding-left: 3.813rem;
  background-color: var(--bodyColor);

  .cabecalho {
    padding-block: 5.688rem 4.75rem;
  }
  
  h2{
    font: var(--h2);
    color: var(--textColor);
  }

  p {
    font: var(--paragrafo1);
    color: var(--textColor70);
  }

  .pinneds{
    display: flex;
    gap: 2.39rem;
    padding-bottom: 7.625rem;
  }

  .rightArrow {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    height: 3.688rem;
    align-items: center;
    padding: 1.875rem 0.625rem;

    
    border-radius: 1.25rem 0px 0px 1.25rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#about {
  display: flex;
  /* padding-block: 5.25rem 4.25rem; */
  overflow: hidden;
  justify-content: center;
  padding-top: 84px;

  .aboutText{
    display: flex;
    /* width: 207px; */
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    h2 {
      font: var(--h2);
      color: var(--textColor);
      padding-bottom: 0.2rem;
    }
    
    .linha{
      width: 207px;
      border: 0.5px solid #F9F9FB;
    }

    p {
      font: var(--paragrafo1);
      color: var(--textColor70);
      text-align: center;
      width: 37rem;
      height: 15rem;
      padding-top: 2.5rem;
    }
  }
}


#contact {
  background-color:  var(--bodyColor);
  background: url(../assets/svg/Vectors.svg) no-repeat top;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  
  
  .conjunction{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5.688rem;

    .entreEmContato{
      .contactText {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
          font: var(--h2);
          color: var(--textColor);
        }
    
        p {
          font: var(--subtitle);
          color: var(--textColor70);
          width: 575px;
        }
    }
    }

      .meiosDeContato {
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1.8rem 0 2.5rem 0;
        border-bottom: 1px solid #7F7F7F;
        
        li {
          color: var(--textColor70);
          font: var(--paragrafo2Bold);
          display: flex;
          gap: 2.5rem;
        }
  
        a {
          font: var(--paragrafo2);
        }
      }
  
      .minhasRedes {
        p{
          padding: 0.5rem 0.2rem 0.1rem ;
          font: var(--paragrafo2Bold);
          color: var(--textColor70);
        }

        .socialMedia {
          display: flex;
    
          list-style-type: none;
          gap: 16px;
          margin-top: 6px;   
      }
    }
  }

  #formulario {
    padding: 1rem;
    width: 28.875rem;
    height: 30.5rem;
    background-color: #191919;
    border-radius: 1.25rem;
    box-shadow: 15px 19px 25.9px 0px rgba(0, 0, 0, 0.40);
  
    p {
      line-height: 1.2rem;
    }
  
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.2rem;
  
      h2 {
        padding-top: 1rem;
        font: var(--h4);
        color: var(--h4Color);
      }
  
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        width: 90%;
        font-size: 12px;

        > :last-child{
          padding-top: 2rem;
        }
  
        input{
          font: var(--inputText);
          border: none;
          display: flex;
          line-height: 1.6rem;
          padding-left: 0.6rem;
          border-bottom: 1px solid var(--textColor40);
          background-color: transparent;
          color: var(--textColor40);
        }

        ::placeholder {
          color: var(--textColor40);
        }
      }
      
      p{
        padding-block: 0.8rem;
        font: var(--description);
        color: var(--textColor40);
        width: 86%;
      }
  
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 40px;
        border-radius: 30px;
        background-color: #4127BB;
        font: var(--paragrafo1Bold);
        color: var(--textColor70);
        padding: 0.7rem 0.5rem;
        border:none;
      }
    }
  }

}


.footer {

  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 52px;
  
  p {
    font:var(--paragrafo2);
    color: var(--textColor70);
    width: 557px;
    padding-block: 16px 27px ;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }

  h4 {
    margin-top: 14px;
    color: var(--textColor70);
    font: var(--footerText);
  }
}
