* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  background: #0D0D0D;
}

h1, h2, p, a {
  text-decoration: none;
  color: #F9F9FB;
}

ul {
  list-style: none;
}

header {
  display: flex;
  position: fixed;
  padding: 0 2.5rem; /* 40px */
  flex-direction: column;
  width: 100%;
  background-color: rgba(11, 11, 11, 0.10);
  backdrop-filter: blur(10px);
  height: 4.5rem; /* 72px */
  z-index: 1000;
}

.inicio--text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem;
}

.inicio{
  background-image: url(./images/image\ 53.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  position: absolute;
  left: 2.31rem; /* 37px */
  top: 0.625rem; /* 10px */
  height: 3.19rem; /* 51px */
  width: 7rem; /* 112px */
}

.navBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0.8125rem; /* 13px */
  padding-right: 1rem;
  height: 4.5rem; /* 72px */
  font-size: 1.25rem; /* 20px */
}

.navBar ul {
  padding-top: 1.4375rem; /* 23px */
  display: flex;
  gap: 3rem; /* 48px */
  list-style: none;
  align-items: center;
}

.navBar ul :hover{
  text-decoration: underline;
}

.linhaHeader {
  width: 100%;
  height: 0.1875rem; /* 3px */
  background: #FFFFFF;
  margin-top: -0.0625rem; /* -1px */
  opacity: 0.4;
}

.home h1 {
  font-size: 5rem; /* 80px */
  color: #F9F9FB;
}

.home {
  display: flex;
  background-image: url(./images/imgHome.jpg);
  height: 100vh;
  background-size: cover;
  padding-left: 3rem;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.botao1 {
  display: flex;
  gap: 0.30rem; /* 5px */
  align-items: center;
  justify-content: flex-end;
  width: 17.1875rem; /* 275px */
  height: 2.9375rem; /* 47px */
  border-radius: 1.5rem; /* 24px */
  background-color: rgba(217, 217, 217, 0.17);
  border: none;
  color: white;
  font-size: 1.125rem; /* 18px */
  padding: 0 1.25rem; /* 20px */
  cursor: pointer;
}

.botao2 {
  width: 15.1875rem; /* 243px */
  height: 2.8125rem; /* 45px */
  border-radius: 1.5rem; /* 24px */
  border: 1px solid white;
  background: none;
  color: #F9F9FB;
  cursor: pointer;
  font-size: 1.125rem; /* 18px */
}

#portfolio {
  padding: 5.6875rem 0 0 3.8125rem; /* 91px 0 0 61px */
}

.portfolioText h2 {
  font-size: 48px;
}

.portfolioText p {
  font-size: 20px;
  color: #F9F9FB;
  opacity: 70%;
}

.imgsButton{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.imgPortfolio {
  width: 100%;
  display: flex;
  gap: 2rem; 
}

.imgPortfolio img {
  margin-top: 4rem;
  width: 21.875rem; 
  height: 33.43rem; 
}

.botaoNext button{
  width: 46px;
  height: 49px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.botaoNext img{
  width: 27px;
  height: 49px;
}

#sobreMim {
  display: flex;
}

.sobreMimText{
  flex-direction: column;
  text-align: center;
}

.sobreMimText h2{
  font-size: 48px;
}

.sobreMimText p{
  font-size: 20px;
  line-height: 30px;
  color: #F9F9FB;
  opacity: 70%;
}

.sobreMimLine {
  width: 207px;
  height: 0px;  
  color: #FFFFFF;
  border: 1px solid;
}

#orcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./svg/Vectors.svg);
  background-size: cover;
  height: 100vh;
}

.contatoEOrcamento {
  display: flex;
  padding: 151px 99px 149px 99px;
}

.textContato h2{
  font-size: 48px;
}

.text {
  opacity: 70%;
  font-size: 14px;
}
.orcamentoContainer {
  width: 26.875rem; /* 430px */
  height: 29.75rem; /* 476px */
  background-color: #191919;
  border-radius: 1.25rem; /* 20px */
  box-shadow: 15px 19px 25.9px 0px rgba(0, 0, 0, 0.40);
  margin-left: 109px;
}
.seuOrcamento p {
  font-size: 14px;
  opacity: 70%;
}

.seuOrcamento h2 {
  font-size: 28px;
  color: #CCCCCC;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redesSociais {
  display: flex;
  gap: 1rem;
}

.minhasRedes ul{
  display: flex;
  gap: 1rem; /* 32px */
}

.minhaRedeLine{
  border: solid 1px #FFFFFF;
  opacity: 0.7;
}

footer p{
  font-size: 14px;
}

.textos--home{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30rem;
  background-image: url(./images/img13.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.textos--home h1{
  font-size: 5rem; /* 80px */
  color: #F9F9FB;
}

.filtro-fotos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* 32px */
  background-color: #FFFFFF;
}

.filtros{
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 990px;
  justify-content: space-around;
  background-color: #202020;
  border-radius: 1rem;
}

.lista--pesquisa{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem; 
}

.galeria--fotos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* 32px */
}

.footer--container{
  background-image: url(./svg/Vectors.svg);
  background-size: cover;
  height: 388px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}