* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--bodyColor);
    color: #fff;
  }
  
  .hero {
    position: relative;
    height: 80vh; 
    width: 100%;
    overflow: hidden;
    font: var (--h1);
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
  }
  
  .hero--texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeIn 1s ease forwards;
  }
  
  .hero--texto h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.938rem;
  }
  
  .hero--texto p {
    font-size: 1.3rem;
    color: #ccc;
  }
  
  .filtros--fotos {
    display: flex;
    justify-content: center;
    margin-top: -1.875rem; 
    margin-bottom: 3.125rem;
    position: relative;
    z-index: 10;
    text-align: center; 
}

.filtros {
    list-style: none;
    background: var(--retangulo);
    padding: 0.75rem 0.938rem;
    border-radius: 1.25rem;
    box-shadow: 0.625rem 0.625rem 1.563rem var(--bodyColor); 
    display: flex;
    justify-content: center;
    gap: 1.563rem;
    backdrop-filter: blur(0.313rem);
}

.filtros li a {
    text-decoration: none;
    color: #fff;
    padding: 0.625rem 1.125rem;
    border-radius: 0.75;
    position: relative;
    transition: all 0.3s ease;
    font: var(--mobile--paragrafo1Bold)
}

.filtros li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.125rem;
    background-color: #fff; 
    transition: width 0.3s ease;
}

.filtros li a:hover::after {
    width: 100%;
}

.galeria--fotos {
    column-count: 3;  
    column-gap: 1.563rem; 
    max-width: 75rem;
    margin: 0 auto rem;
    padding: 0 1.25rem;
}

.galeria--fotos img {
    width: 100%;
    display: block;
    margin-bottom: 1.563rem;
    border-radius: 0.75rem;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria--fotos img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.625rem 1.25rem var(--bodyColor);
}
  
  .footer--container {
    background: url(../assets/svg/Vector\ 2.svg);
    text-align: center;
    padding: 3.75rem 1.25rem;
  }
  
  .footer--container img {
    width: 6.25rem;
    margin-bottom: 1.25rem;
  }
  
  .footer--container p.text {
    max-width: 31.25rem;
    margin: 0 auto 1.25rem;
    font-size: 0.9rem;
    color: var(----textColor70);
  }
  
  .footer--container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 1.25rem 0;
  }
  
  .footer--container ul li a img {
    width: 1.5rem;
    transition: opacity 0.3s;
  }
  
  .footer--container ul li a img:hover {
    opacity: 0.7;
  }
  
  .footer--container p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 1.25rem;
    font: var(--subtitle)
  }
  